.idea/
website/node_modules
website/.cache
website/.next
tabs
machine-learning/datasets
machine-learning/.idea
scraper/node_modules
frontend/node_modules
scraper/datasets
scraper/.env
frontend/.env
machine-learning/.env
