.idea/
website/node_modules
website/.cache
website/.next
tabs
machine-learning/datasets
machine-learning/.idea
scraper/node_modules
scraper/datasets
scraper/.env
website/.env
machine-learning/.env
scraper/dist
scraper/src/pre-start/env
